
<section class="row">
    <section class="col-xs-12">
        <img src="http://localhost:4200/assets/img/images.png" width="100%" class="img-responsive" alt="">
    </section>
</section>
<section class="row">
    <section class="col-xs-12">
        <button *ngFor="let tag of tags"
        type="button" class="btn btn-outline-secondary m-1">{{ tag.name }}</button>
    </section>
</section>

<section class="row">
    <section class="col-xs-12">
        <p>Description</p>
    </section>
</section>
    